<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
<title th:text="#{email.buyer.request.title}">JHipster
	activation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
<!-- <link href='https://fonts.googleapis.com/css?family=Quicksand' -->
<!-- 	rel='stylesheet' type='text/css' /> -->
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" type='text/css'>
</head>
<body>
	<!--     <img src="../../images/esorus-black-logo.png" th:src="|cid:${imageResourceName}|" /> -->
	<img src="../../images/esorus-black-logo.png" th:src="|cid:${imageResourceName}|" class="logo"
		style="height: 23px; margin-top: 5px; width: 40%; max-width: 158px;" />
	<p th:text="#{email.buyer.request.slogan}"
	style="margin-top: 5px; padding-top: 0px; font-weight:bold; "></p>	
	
	<!--         <img src="../images/esorus-black-logo.png" width="1000" th:src="@{images/esorus-black-logo.png}"/> -->
	<p th:text="#{email.buyer.request.greeting}">Dear</p>
	<p th:text="#{email.buyer.request.first}" style="font-family: 'Poppins', sans-serif;"></p>

	<p th:text="#{email.buyer.request.text1}" style="font-family: 'Poppins', sans-serif;"></p>
	<div>
		<span th:text="#{email.buyer.request.text2}">Regards, </span> <br />
		<p th:text="#{email.buyer.request.signature}"></p>
	</div>
</body>
</html>